name: Self lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

defaults:
  run:
    shell: bash

jobs:
  actionlint:
    runs-on: ubuntu-latest
    env:
      ACTIONLINT_VERSION: v1.7.1
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download actionlint
        id: get_actionlint
        run: |
          export ACTIONLINT_VERSION
          bash <(curl -fsSL https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          echo "executable=$(pwd)/actionlint" >> "$GITHUB_OUTPUT"

      - name: Check workflow files
        run: |
          ${{ steps.get_actionlint.outputs.executable }} -color
